version: '3.8'

services:
  discovery-server:
    image: alpine/java:21-jdk
    container_name: discovery-server
    restart: always
    ports:
      - "8761:8761"
    volumes:
      - ./target/discovery-server-0.0.1-SNAPSHOT.jar:/app/discovery-server-v1.jar
    command: ["java", "-jar", "/app/discovery-server-v1.jar"]